.dash{
    overflow-y:scroll !important;
    height:100%;
    /* max-height:3000px; */
    padding-bottom:20px !important;
    padding:5px;
    padding-bottom:200px;
    margin-bottom: 200px;
    scrollbar-color: #005EAA whitesmoke;
    scrollbar-width: thin;
}
.widget .wid{
    background-color: whitesmoke;
    height: 460px;
    border-radius:10px;
    box-shadow: 3px 4px 8px lightgray;
    border: 1px solid rgb(226, 226, 226);
    padding: 10px 0px 10px 0px;
    position:relative;
    overflow:hidden !important;
}

.widget .wid:hover{
    background-color: rgb(240, 240, 240);
    border-radius:15px;
    box-shadow: 5px 8px 16px lightgray;
}

.widget .wid:hover .widget-tool{
    display:block !important;
}

.widget .wid p{
    color:#005EAA;
    background-color: rgb(231, 231, 231);
    display: inline-block;
    padding:3px;
    border-radius: 10px;
    font-size: 14px;
    font-weight:bold;
}

.widget{
    padding:5px;
}

.widget-tool{
    display:none;
    /* background-color:rgb(228, 228, 228); */
    /* border-radius: 50%;  */
    height: 20px; 
    width:20px;
    position: absolute; 
    top:0;
    right:5px;
    text-align: center;
    color: #005EAA;
    font-weight:bold;
    cursor:pointer;
}

.dash::-webkit-scrollbar {
    width: 5px;
}
   
.dash::-webkit-scrollbar-track {
    background: whitesmoke;
}
   
.dash::-webkit-scrollbar-thumb {
    background: #005EAA;
}


