.dash{
    overflow-y:scroll !important;
    height:100%;
    /* max-height:3000px; */
    padding-bottom:20px !important;
    padding:10px;
    padding-bottom:200px;
    margin-bottom: 200px;
}



.widget .wid{
    background-color: #232323;
    height: 300px;
    border-radius:10px;
    box-shadow: 3px 4px 8px black;
    padding: 10px;
    position:relative;
}

.widget .wid:hover{
    background-color: #1b1b1b;
    border-radius:15px;
    box-shadow: 5px 8px 16px black;
}

.widget .wid:hover .widget-tool{
    display:block !important;
}

.widget .wid p{
    color:#af0404;
    background-color: #181616;
    display: inline-block;
    padding:3px;
    border-radius: 10px;
    font-size: 14px;
}

.widget{
    padding:10px !important;
}

.widget-tool{
    display:none;
    background-color:#131111;
    border-radius: 50%; 
    height: 30px; 
    width:30px;
    position: absolute; 
    top:-10px;
    right:-10px;
    text-align: center;
}

