.side-nav{
    padding-top:20px;
    padding-bottom:30px;
    margin-bottom:30px;
}

.side-nav .sd-hgt-xtnd{
    height:100%;
    background-color: whitesmoke;
    margin:0px !important;
    padding:5px 5px 0px 5px !important;
    border-radius:10px;
    border: 1px solid rgb(226, 226, 226);
}

.side-nav .shrunkdv{
    display:none;
    height:44px;
    background-color: whitesmoke;
    margin:0px !important;
    padding:5px 5px 0px 5px;
    border-radius:15px;
}

.global-sts p{
    color:#005EAA;
    font-size: 14px;
    font-weight:bold;
}

.global-sts{
    overflow-y:scroll;
    height:750px;
    scrollbar-color: #005EAA whitesmoke;
    scrollbar-width: thin;
    padding: 0px 5px 0px 5px;
    
}


.global-sts div {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgb(240, 240, 240);
}

.global-sts div:hover {
    box-shadow: 2px 4px 6px rgb(221, 221, 221);
}

.titles{
    color:#005EAA !important;
    background-color: rgb(231, 231, 231);
    float:left;
    padding:3px;
    border-radius: 10px;
    font-size: 15px;
    margin-top:3px;
}

.titles1{
    color:#005EAA !important;
    background-color: rgb(231, 231, 231);
    float:right;
    padding:3px;
    border-radius: 10px;
    font-size: 15px;
    margin-top:3px;
    font-weight:bold;
}

.global-sts::-webkit-scrollbar {
    width: 5px;
}
   
.global-sts::-webkit-scrollbar-track {
    background: whitesmoke;
}
   
.global-sts::-webkit-scrollbar-thumb {
    background: #005EAA;
}


@media only screen and (max-width: 1189px) {
    .side-nav{
        margin-bottom:10px;
        padding-bottom:10px;
    }
    .global-sts{
        height: 200px !important;
    }

    .minny{
        height:22px !important;
    }
    .img-min{
        width:20px !important;
        height:20px !important;
    }
}

