.side-nav{
    padding-top:20px;
    padding-bottom:30px;
    margin-bottom:30px;
}

.side-nav .sd-hgt-xtnd{
    height:100%;
    /* width: 250px; */
    background-color: #242424;
    margin:0px !important;
    padding:5px 5px 0px 5px !important;
    border-radius:10px;
}

.side-nav .shrunkdv{
    display:none;
    height:40px;
    background-color: #242424;
    margin:0px !important;
    padding:5px 5px 0px 5px;
    border-radius:15px;
}

.global-sts p{
    color:rgba(163, 53, 53, 0.781); 
    font-size: 14px;
    font-weight:bold;
}


.global-sts{
    overflow-y:scroll;
    height:750px;
    scrollbar-color: #181616 #232323;
    scrollbar-width: thin;
    padding: 0px 5px 0px 5px;
    
}


.global-sts div {
    border: 1px solid #181616;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #181616;
}

.global-sts div:hover {
    box-shadow: 2px 4px 6px black;
}

.titles{
    color:#af0404 !important;
    background-color: #181616;
    float:right;
    padding:3px;
    border-radius: 10px;
    font-size: 15px;
}



@media only screen and (max-width: 1189px) {
    .side-nav{
        margin-bottom:10px;
        padding-bottom:10px;
    }
    .global-sts{
        height: 200px !important;
    }

    .minny{
        height:22px !important;
    }
    .img-min{
        width:20px !important;
        height:20px !important;
    }
}

