body{
    background-color:#191919 !important;
    min-height:100vh;
    height:100%;
    overflow:hidden;
    font-family: 'Open Sans', sans-serif;
}

html{
    height:100%;
}

::-webkit-scrollbar {
    display: none;
    }