.country-info{
    padding:10px;
    position:absolute; 
    height: 325px; 
    width: 200px;
    left:14px;
    top:47px;
    background-color:whitesmoke;
    bottom:25px;
    border-radius:5px;
    display:none;
    z-index:1000;
    opacity:.8;
    box-shadow: 3px 7px 8px gray;
}

#min {
    touch-action: none !important;
}
#max {
    touch-action: none !important;
}

img {
    touch-action: none !important;
}

#map{
    height:90% !important;
    width: 100% !important;
    z-index:999 !important;
    margin-top:5px;
}
