.country-info{
    padding:10px;
    position:absolute; 
    height: 325px; 
    width: 200px;
    left:14px;
    top:47px;
    background-color:rgb(226, 226, 226);
    bottom:25px;
    border-radius:2px;
    display:none;
    z-index:1000;
    opacity:.9;
    box-shadow: 3px 7px 8px rgb(27, 27, 27);
}

.covid-legend{
    padding:2px 15px 2px 15px;
    position:absolute; 
    height: 58px; 
    width: 460px;
    right:75px;
    background-color:rgb(226, 226, 226);
    bottom:45px;
    border-radius:2px;
    z-index:10001;
}

.covid-legend .row .col{
    padding:0px;
    text-align:center;

}

.covid-legend .row .col p{
    width: 73px;
}

/* .covid-legend .row .col div{ */
    /* position:absolute;
    bottom:-17px;
    right:24px; */
/* } */

#min {
    touch-action: none !important;
}
#max {
    touch-action: none !important;
}

img {
    touch-action: none !important;
}

#map{
    height:90% !important;
    width: 100% !important;
    z-index:999 !important;
    margin-top:5px;
}
