nav{
    height: 55px;
    background-color: whitesmoke;
    padding-left:10px !important;
    box-shadow: 4px 6px 12px lightgray;
}


.nv-link{
    color:#005EAA !important;
    text-decoration:none;
}

.nv-link:hover{
    color:rgb(0, 55, 100) !important;
    text-decoration:none;
}

.nav-logo{
    color:#005EAA !important;
    font-weight: bold;
    font-family: monospace;
    text-decoration: none !important;
}

.nav a{
    margin-top:15px;
    margin-right:10px;
}

.global-numbers span{
    font-size: 10px;
    font-weight:bold;
    color: #005EAA;
}

.global-numbers-shrunk-div p{
    font-size: 14px;
    font-weight:bold;
    color: #005EAA !important;
}

@media only screen and (max-width: 906px) {
    .global-numbers{
        display:none !important;
    }
    .global-numbers-shrunk{
        display:block !important;
    }
}

@media only screen and (min-width: 906px) {
    .global-numbers-shrunk-div{
        display:none !important;
    }
}
