nav{
    height: 55px;
    background-color: whitesmoke;
    padding-left:10px !important;
    box-shadow: 4px 6px 12px lightgray;
}


.nv-link{
    color:#005EAA !important;
    text-decoration:none;
}

.nv-link:hover{
    color:rgb(0, 55, 100) !important;
    text-decoration:none;
}

.nav-logo{
    color:#005EAA !important;
    font-weight: bold;
    font-family: monospace;
    text-decoration: none !important;
}

.nav a{
    margin-top:15px;
    margin-right:10px;
}

