<!-- Head include -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PyCDV</title>
<link rel="stylesheet" href="{{url_for('dash_bp.static', filename='css/main.css')}}">
<link rel="stylesheet" href="{{url_for('dash_bp.static', filename='css/dash.css')}}">
<link rel="stylesheet" href="{{url_for('dash_bp.static', filename='css/nav.css')}}">
<link rel="stylesheet" href="{{url_for('dash_bp.static', filename='css/global-widget.css')}}">
<link rel="stylesheet" href="{{url_for('dash_bp.static', filename='css/map-widget.css')}}">
<link rel="stylesheet" href="{{url_for('dash_bp.static', filename='css/datavisual-widget.css')}}">
<link rel="stylesheet" href="{{url_for('dash_bp.static', filename='css/test1-widget.css')}}">
<link rel="stylesheet" href="{{url_for('tab3_bp.static', filename='css/main.css')}}">
<link rel="stylesheet" href="{{url_for('tab2_bp.static', filename='css/main.css')}}">



<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
