<!-- Scripts include | bootstrap -->
<script
src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- Link to our static script files -->
<script src="{{ url_for('dash_bp.static', filename='js/map-widget.js') }}"></script>
<script src="{{ url_for('dash_bp.static', filename='js/global-widget.js') }}"></script>
<script src="{{ url_for('dash_bp.static', filename='js/datavisual-widget.js') }}"></script>
<script src="{{ url_for('dash_bp.static', filename='js/test1-widget.js') }}"></script>
<script src="{{ url_for('tab2_bp.static', filename='js/main.js') }}"></script>
<script src="{{ url_for('tab3_bp.static', filename='js/main.js') }}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzdFlDAAGUsaH2lQtUF-rorj30osbAmbY&callback=initMap"
async defer></script>
<script src="https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDzdFlDAAGUsaH2lQtUF-rorj30osbAmbY"></script>