{% extends 'dash/layouts/layout.html' %}
{% block content %}

<h1>Assist</h1>
<div class='row assist'>
    <div class="col-lg">
        <p>Prevention</p>
    </div>
    <div class="col-lg">
        <p>Distance</p>
    </div>
</div>

<div class='row assist' style='margin-bottom:150px;'>
    <div class="col-lg">
        <p>Assist</p>
    </div>
    <div class="col-lg">
        <p>Donate</p>
        <div>
            <div style="text-align:center">
                <h5>The Arts</h5>
            </div>
        
            <p><a href="">American Guild of Musical Arts Relief Fund</a>: The AGMA is a labor union that represents artists involved in America’s operatic, choral and dance heritages. Their relief fund will support members who have lost opportunities and income during the coronavirus crisis.</p>
            <p><a href="">ArtsFund COVID-19 Arts Emergency Relief Fund</a>: This fund will help stabilize the arts sector in Seattle, where the coronavirus has been especially devastating.</p>
            <p><a href="">Broadway Cares</a>: This non-profit helps vulnerable people in the performing arts community, and has created an emergency fund for creative industry workers in New York who are impacted by the coronavirus crisis.</p>
            <p><a href="">ArtsFund COVID-19 Arts Emergency Relief Fund</a>: This non-profit helps vulnerable people in the performing arts community, and has created an emergency fund for creative industry workers in New York who are impacted by the coronavirus crisis.</p>
            <p><a href="">ArtsFund COVID-19 Arts Emergency Relief Fund</a>: This fund will help stabilize the arts sector in Seattle, where the coronavirus has been especially devastating.</p>
            <p><a href="">ArtsFund COVID-19 Arts Emergency Relief Fund</a>: This fund will help stabilize the arts sector in Seattle, where the coronavirus has been especially devastating.</p>
            <p><a href="">ArtsFund COVID-19 Arts Emergency Relief Fund</a>: This fund will help stabilize the arts sector in Seattle, where the coronavirus has been especially devastating.</p>
            <p><a href="">ArtsFund COVID-19 Arts Emergency Relief Fund</a>: This fund will help stabilize the arts sector in Seattle, where the coronavirus has been especially devastating.</p>
            <p><a href="">ArtsFund COVID-19 Arts Emergency Relief Fund</a>: This fund will help stabilize the arts sector in Seattle, where the coronavirus has been especially devastating.</p>
            <p><a href="">ArtsFund COVID-19 Arts Emergency Relief Fund</a>: This fund will help stabilize the arts sector in Seattle, where the coronavirus has been especially devastating.</p>
            
        </div>
        <div>
            <div style="text-align:center">
                <h5>The Arts</h5>
            </div>
        
            <p><a href="">American Guild of Musical Arts Relief Fund</a>: : This fund will help stabilize the arts sector in Seattle, where the coronavirus has been especially devastating.</p>
        
        </div>
        <div>
            <div style="text-align:center">
                <h5>The Arts</h5>
            </div>
        
            <p><a href="">American Guild of Musical Arts Relief Fund</a>: The AGMA is a labor union that represents artists involved in America’s operatic, choral and dance heritages. Their relief fund will support members who have lost opportunities and income during the coronavirus crisis.</p>
        
        </div>
        <div>
            <div style="text-align:center">
                <h5>The Arts</h5>
            </div>
        
            <p><a href="">American Guild of Musical Arts Relief Fund</a>: The AGMA is a labor union that represents artists involved in America’s operatic, choral and dance heritages. Their relief fund will support members who have lost opportunities and income during the coronavirus crisis.</p>
        
        </div>
        <div>
            <div style="text-align:center">
                <h5>The Arts</h5>
            </div>
        
            <p><a href="">American Guild of Musical Arts Relief Fund</a>: The AGMA is a labor union that represents artists involved in America’s operatic, choral and dance heritages. Their relief fund will support members who have lost opportunities and income during the coronavirus crisis.</p>
        
        </div>
    </div>
</div>
{% endblock content %}