{% extends 'dash/layouts/layout.html' %}
{% block content %}

<h1>Assist</h1>
<div class='row assist'>
    <div class="col-lg">
        <p>Prevention</p>
    </div>
    <div class="col-lg">
        <p>Distance</p>
    </div>
</div>

<div class='row assist' style='margin-bottom:150px;'>
    <div class="col-lg">
        <p>Assist</p>
    </div>
    <div class="col-lg" style='position:relative;'>
        <p>Donate</p>

        <div>
            {% for x in donation_dict %}
            <div style="text-align:center">
                <h5>{{x}}</h5>
            </div>
                {% for y in donation_dict[x] %}
                    {% if y[1] != "" %}
                        <a href="{{y[1]}}" target="_blank"><p class='donate'>{{y[0]}}</p></a>
                    {% else %}
                        <a><p class='donate'>{{y[0]}}</p></a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        <div>
    </div>
</div>
{% endblock content %}