{% extends 'dash/layouts/layout.html' %}
{% block content %}

    
<h2 style="color:#005EAA !important;text-shadow: 2px 2px 2px lightgray;font-weight:bold;">Assist</h2>
<div class='row assist'>
    <div class="col-lg">
        <p>Prevention</p>
    </div>
    <div class="col-lg">
        <p>Distance</p>
    </div>
</div>

<div class='row assist' style='margin-bottom:150px;'>
    <div class="col-lg">
        <p>Assist</p>
    </div>
    <div class="col-lg" style='position:relative;'>
        <p id='donate'>Donate</p>
        <div class='wrapper'>
            <p>Arts</p>
            <p>Seniors/Disabilities</p>
            <p>Meals/Food support</p>
            <p>Homeless</p>
            <p>Medical</p>
            <p>Mental health</p>
            <p>Refugees/International relief</p>
            <p>Restaurants/Food workers</p>
            
        </div>
        <div>
            {% for x in donation_dict %}
            <div style="text-align:center">
                <h5>{{x}}</h5>
            </div>
                {% for y in donation_dict[x] %}
                    {% if y[1]|length !=1 %}
                        <a href="{{y[1]}}" target="_blank"><p class='donate'>{{y[0]}}</p></a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        <div>
    </div>
</div>
{% endblock content %}