{% extends 'dash/layouts/layout.html' %}
{% block content %}

<div class="widget" style='padding:0px !important;margin: 5px 0px 10px 0px;'>
    {% include 'dash/widgets/map-widget.html' %}
</div>

<div class="row" style='margin-bottom:100px !important;padding-bottom:100px!important;'>
    <div class="col-sm-6 widget">
        {% include 'dash/widgets/test1-widget.html' %}
    </div>
    <div class="col-sm-6 widget">
        {% include 'dash/widgets/datavisual-widget.html' %}
    </div>
</div>

{% endblock content %}