<div class='sd-hgt-xtnd'>
    <div class='minny' style='height:0px;'>
        <a class='minimize' style='float:right;'><img class='img-min' src="{{url_for('dash_bp.static', filename='images/shrink.png')}}" style='height: 0px; width:0px;' alt=""></a>
    </div>
    <div class="search-title" style='position:relative'>
        <!-- <img src="{{ url_for('dash_bp.static', filename='images/search1.png') }}" alt="Search" style='width: 20px; height:20px;z-index: 777 !important;'></a> -->
        <p class='titles1'>Global Cases</p>
        <button class='filter btn btn-secondary btn-sm' id = "az">A-Z</button>
        <button class='filter btn btn-secondary btn-sm' id="newcases">New Cases</button>
        <button class='filter btn btn-secondary btn-sm' id = "totalcases">Total Cases</button>
        <button class='filter btn btn-secondary btn-sm' id = "totaldeaths">Total Deaths</button>
        <button class='filter btn btn-secondary btn-sm' id="newdeaths">New Deaths</button>
    </div>


    <!-- All data within global widget -->
    <div class='global-sts' style="margin-top:10px;">
    <!-- This is jinja templating | Here we're looping through the api data "https://api.covid19api.com/summary" our dashboard blueprint-->
    <div class='sorted'></div>
    <div class='wild'>
        {% for x in data %}
            {% for y in data[x] %}
                {% if y['Country'] is defined %}
                    {% if data[x]["NewConfirmed"] %}
                    {% else %}
                        <div class="country-block {{y['NewConfirmed']}} {{y['TotalConfirmed']}} {{y['NewDeaths']}} {{y['TotalDeaths']}}" id="{{cc[y['Country']]}}">
                            <div class="row" style='height:65px;'>
                                <div class="col">
                                    <p style='padding-left:12px;'>{{y['Country']}}</p>
                                </div>
                                <div class="col" style='position:relative;'>
                                    <!-- Loop through country codes to append country flag to each block -->
                                    {% if y['Country'] in cc  %}
                                        <img style='position:absolute; top:-17px;right: 8px;' src="https://www.countryflags.io/{{ cc[y['Country']] }}/flat/64.png">
                                    {% endif %}
                                </div>
                            </div>
                            
                            <p style='background-color:lightgray;border-radius:10px;padding:3px'> New Cases: <span style='color:whitesmoke;'>{{y['NewConfirmed']}}</span></p>
                            <p style='background-color:lightgray;border-radius:10px;padding:3px;'>Total Cases: <span style='color:whitesmoke;'>{{y['TotalConfirmed']}}</span></p>
                            <p style='background-color: lightgray; border-radius:10px;padding:3px;'>New Deaths: <span style='color:whitesmoke;'>{{y['NewDeaths']}}</span></p>
                            <p style='background-color: lightgray; border-radius:10px;padding:3px;margin-bottom:0px !important;'>Total Deaths: <span style='color:whitesmoke;'>{{y['TotalDeaths']}}</span></p>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
</div> 

<div class='shrunkdv'>
    <a class='titles'>Global Cases</a>
    <a class='maximize' style='margin:0px;float:right;'><img src="{{url_for('dash_bp.static', filename='images/expand.png')}}" style='height:20px; width:20px;'></a>
</div>