<div class='sd-hgt-xtnd'>
    <div class='minny' style='height:0px;'>
        <a class='minimize' style='float:right;'><img class='img-min' src="{{url_for('dash_bp.static', filename='images/shrink.png')}}" style='height: 0px; width:0px;' alt=""></a>
    </div>
    <div class="search-title" style='position:relative'>
        <input class='search-inp' type="text" placeholder='Search...' style="width:100%;
        display:none;
        border: 1px solid   rgb(226, 226, 226);
        background-color: whitesmoke;
        position: absolute; 
        z-index: 0;
        border-radius: 10px;
        height:33px;
        color:black;
        padding-left:30px;">

        <a class='search' style='z-index: 999 !important;
        position:absolute;
        top:5px;
        left:5px;'>

        <img src="{{ url_for('dash_bp.static', filename='images/search1.png') }}" alt="Search" style='width: 20px; height:20px;z-index: 777 !important;'></a>
        <a class='titles1'>Global Cases</a>
    </div>


    <!-- All data within global widget -->
    <div class='global-sts' style="margin-top:40px;">
    <!-- This is jinja templating | Here we're looping through the api data "https://api.covid19api.com/summary" our dashboard blueprint-->
        {% for x in data %}
            {% for y in data[x] %}
                {% if (y['Country'] != "" ) %}
                    {% if data[x]["NewConfirmed"] %}
                    {% else %}
                        <div class='country-block'>
                            <div class="row" style='height:50px;'>
                                <div class="col">
                                    <p style='padding-left:12px;'>{{y['Country']}}</p>
                                </div>
                                <div class="col" style='position:relative;'>
                                    <!-- Loop through country codes to append country flag to each block -->
                                    {% if y['Country'] in cc  %}
                                        <img style='position:absolute; top:-17px;right: 8px;' src="https://www.countryflags.io/{{ cc[y['Country']] }}/flat/64.png">
                                    {% endif %}
                                </div>
                            </div>
                            
                            <p style='background-color:lightgray;border-radius:10px;padding:3px'> New Cases: <span style='color:whitesmoke;'>{{y['NewConfirmed']}}</span></p>
                            <p style='background-color:lightgray;border-radius:10px;padding:3px;'>Total Cases: <span style='color:whitesmoke;'>{{y['TotalConfirmed']}}</span></p>
                            <p style='background-color: lightgray; border-radius:10px;padding:3px;'>New Deaths: <span style='color:whitesmoke;'>{{y['NewDeaths']}}</span></p>
                            <p style='background-color: lightgray; border-radius:10px;padding:3px;margin-bottom:0px !important;'>Total Deaths: <span style='color:whitesmoke;'>{{y['TotalDeaths']}}</span></p>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div> 

<div class='shrunkdv'>
    <a class='titles'>Global Cases</a>
    <a class='maximize' style='margin:0px;float:right;'><img src="{{url_for('dash_bp.static', filename='images/expand.png')}}" style='height:20px; width:20px;'></a>
</div>