<div class='sd-hgt-xtnd'>
    <div class='minny' style='height:0px;'>
        <a class='minimize' style='float:right;'><img class='img-min' src="{{url_for('dash_bp.static', filename='images/shrink.png')}}" style='height: 0px; width:0px;' alt=""></a>
    </div>
    <div class="search-title" style='position:relative'>
        <input class='search-inp' type="text" placeholder='Search...' >
        <a class='search' style=''><img src="{{ url_for('dash_bp.static', filename='images/search.png') }}" alt="Search" style='width: 20px; height:20px;z-index: 777 !important;'></a>
        <a class='titles1' >Global Cases</a>
    </div>

    <div class='global-sts' style="margin-top:40px;">
    <!-- This is jinja templating | Here we're looping through the api data "https://api.covid19api.com/summary" our dashboard blueprint-->
        {% for x in data %}
            {% for y in data[x] %}
                {% if y['Country'] != ""%}
                <div>
                    <p>{{y['Country']}}</p>
                    <p> New Cases: <span>{{y['NewConfirmed']}}</span></p>
                    <p>Total Cases: <span>{{y['TotalConfirmed']}}</span></p>
                    <p>New Deaths: <span>{{y['NewDeaths']}}</span></p>
                    <p>Total Deaths: <span>{{y['TotalDeaths']}}</span></p>
                </div>
                {%endif%}
            {% endfor %}
        {% endfor %}
    </div>
</div> 

<div class='shrunkdv'>
    <a class='titles'>Global Cases</a>
    <a class='maximize' style='color:red;margin:0px;float:right;'><img src="{{url_for('dash_bp.static', filename='images/expand.png')}}" style='height:20px; width:20px;'></a>

</div>