<!-- Map Widget -->
<div class='wid'>
    <div class='widget-tool'>...</div>
    <p style='margin-bottom:0px !important;'>World Map</p>
    <div class="country-info" >
        <h5 class='country-title' style='color:#005EAA;'></h5>
        <p>Total Cases: <span class='map-total'></span></p> <br>
        <p>New Cases: <span class='map-new'></span></p>
    </div>

    <div class='covid-legend'>
        <p style='margin:0px; padding:0px;font-size: 12px;font-weight: bold'>Total # Cases</p>
        <div class="row">
            <div class="col">
                <p style='color:white; font-size: 12px;font-weight: normal;padding:3px;margin:0px;background-color: red;border: 1px solid darkred;'>>50000</p>
            </div>
            <div class="col">
                <p style='color:white; font-size: 12px;font-weight: normal;padding:3px;margin:0px;background-color: orange;border: 1px solid darkorange'>50000-10001</p>
            </div>
            <div class="col">
                <p style='color:black; font-size: 12px;font-weight: normal;padding:3px;margin:0px;background-color: yellow; border: 1px solid orange;'>10000-1001</p>
            </div>
            <div class="col">
                <p style='color:white; font-size: 12px;font-weight: normal;padding:3px;margin:0px;background-color:darkblue; border:1px solid navy'>1000-101</p>
            </div>
            <div class="col">
                <p style='color:white; font-size: 12px;font-weight: normal;padding:3px;margin:0px;background-color: green;border: 1px solid darkgreen'>100-1</p>
            </div>
            <div class="col">
                <p style='color:white; font-size: 12px;font-weight: normal;padding:3px;margin:0px;background-color: lightgreen;border: 1px solid green;'>0</p>
            </div>

        </div>
     
    </div>

    <div id='map'></div>
</div>