<!-- Map Widget -->
<div class='wid'>
    <div class='widget-tool'>...</div>
    <p style='margin-bottom:0px !important;'>World Map</p>
    <div class="country-info" >
        <h5 class='country-title' style='color:#005EAA;'></h5>
        <p>Total Cases: <span class='map-total'></span></p> <br>
        <p>New Cases: <span class='map-new'></span></p>
    </div>

    <div class='covid-legend'>

        <div class="row">
            <div class="col">
                <p style='color:black; font-size: 12px;font-weight: normal;padding:0px;margin:0px;'>>50000</p>
                <div style="width:20px;height:20px;background-color:red;border-radius:50%;"></div>
            </div>
            <div class="col">
                <p style='color:black; font-size: 12px;font-weight: normal;padding:0px;margin:0px;'>50000-10001</p>
                <div style="width:20px;height:20px;background-color:orange;border-radius:50%;"></div>
            </div>
            <div class="col">
                <p style='color:black; font-size: 12px;font-weight: normal;padding:0px;margin:0px;'>10000-1001</p>
                <div style="width:20px;height:20px;background-color:yellow;border-radius:50%;"></div>
            </div>
            <div class="col">
                <p style='color:black; font-size: 12px;font-weight: normal;padding:0px;margin:0px;'>1000-101</p>
                <div style="width:20px;height:20px;background-color:darkblue;border-radius:50%;"></div>
            </div>
            <div class="col">
                <p style='color:black; font-size: 12px;font-weight: normal;padding:0px;margin:0px;'>100-1</p>
                <div style="width:20px;height:20px;background-color:green;border-radius:50%;"></div>
            </div>
            <div class="col">
                <p style='color:black; font-size: 12px;font-weight: normal;padding:0px;margin:0px;'>0</p>
                <div style="width:20px;height:20px;background-color:lightgreen;border-radius:50%"></div>
            </div>

        </div>
     
    </div>

    <div id='map'></div>
</div>