<!-- Test1 Widget -->
<div class='wid'>
    <div class='widget-tool'>...</div>
    <!-- <p class='graph-tab' id='linear-tab' style='margin-left:10px;margin-bottom:0px !important;border:1px solid lightgray; background-color:lightgray;'>Linear</p>
    <span>|</span>
    <p class='graph-tab' id='logarithmic-tab' style='background-color:whitesmoke;border: 1px solid lightgray;'>Logarithmic</p> -->
    <p style='margin-left:10px;'>Confirmed Cases</p>
    <div>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>