.dash{
    overflow-y:scroll !important;
    height:100%;
    padding-bottom:20px !important;
    padding:10px;
}



.widget div{
    background-color: #232323;
    height: 300px;
    border-radius:10px;
    box-shadow: 3px 4px 8px black;
    padding: 10px;
}

.widget div:hover{
    background-color: #1b1b1b;
    border-radius:15px;
    box-shadow: 5px 8px 16px black;
}

.widget div p{
    color:#af0404;
}

.widget{
    padding:10px !important;
}


