nav{
    height: 50px;
    background-color: #242424;
}


.nav-item a{
    color:#af0404 !important;
    text-decoration:none;
}

.nav-item a:hover{
    color:red !important;
    text-decoration:none;
}

.navbar-brand{
    color:#af0404;
    font-weight: bold;
    font-family: c
}