nav{
    height: 50px;
    background-color: #242424;
    padding-left:10px !important;
    box-shadow: 4px 6px 12px rgb(14, 14, 14);
}


.nv-link{
    color:#af0404 !important;
    text-decoration:none;
}

.nv-link:hover{
    color:#e95656 !important;
    text-decoration:none;
}

.nav-logo{
    color:#af0404 !important;
    font-weight: bold;
    font-family: monospace;
    text-decoration: none !important;
}

.nav a{
    margin-top:10px;
    margin-right:10px;
}

