{% extends 'dash/layout.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-8 widget">
        <div class='wid'>
            <div class='widget-tool'>...</div>
            <p>World Map</p>
        </div>
    </div>
    <div class="col-sm-4 widget">
        <div class='wid'>
            <div class='widget-tool'>...</div>
            <p>Test</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 widget">
        <div class='wid'>
            <div class='widget-tool'>...</div>
            <p>Test</p>
        </div>
    </div>
    <div class="col-sm-6 widget">
        <div class='wid'>
            <div class='widget-tool'>...</div>
            <p>Test</p>
        </div>
    </div>
</div>

<div class="row" style='margin-bottom:200px !important;padding-bottom:200px!important;'>
    <div class="col-sm-4 widget">
        <div class='wid'>
            <div class='widget-tool'>...</div>
            <p>Test</p>
        </div>
    </div>
    <div class="col-sm-8 widget">
        <div class='wid'>
            <div class='widget-tool'>...</div>
            <p>Test</p>
        </div>
    </div>
</div>
{% endblock content %}