{% extends 'dash/layout.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-8 widget">
        <div class='wid'>
            <div class='widget-tool'>...</div>
            <p style='margin-bottom:0px !important;'>World Map</p>
            <img src="{{ url_for('dash_bp.static', filename='svg/world.svg') }}" style='height: 100%; width:100%;' alt="">
        </div>
    </div>
    <div class="col-sm-4 widget">
        <div class='wid'>
            <div class='widget-tool'>...</div>
            <p>Test</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 widget">
        <div class='wid'>
            <div class='widget-tool'>...</div>
            <p>Test</p>
        </div>
    </div>
    <div class="col-sm-6 widget">
        <div class='wid'>
            <div class='widget-tool'>...</div>
            <p>Test</p>
        </div>
    </div>
</div>

<div class="row" style='margin-bottom:200px !important;padding-bottom:200px!important;'>
    <div class="col-sm-4 widget">
        <div class='wid'>
            <div class='widget-tool'>...</div>
            <p>Test</p>
        </div>
    </div>
    <div class="col-sm-8 widget">
        <div class='wid'>
            <div class='widget-tool'>...</div>
            <p>Test</p>
        </div>
    </div>
</div>
{% endblock content %}