<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'dash/head.html' %}
</head>

<body>
    {% include 'dash/nav.html' %}

    <div class='row dash-desktop' style='padding:0px;margin:0px;height:100% !important;'>
        <div class="col-lg-2 side-nav">
            <div>
                {% include 'dash/side-nav.html' %}
            </div>
        </div>

        <div class="col-lg-10 dash">
            {% block content %}{% endblock content %}
        </div>
    </div>

    {% include 'dash/scripts.html' %}
</body>
</html>