{% extends 'dash/layout.html' %}
{% block mobiledash %}
<div class="row">
    <div class="col-8 widget">
        <div>
            <p>Test</p>
        </div>
    </div>
    <div class="col-4 widget">
        <div>
            <p>Test</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6 widget">
        <div>
            <p>Test</p>
        </div>
    </div>
    <div class="col-6 widget">
        <div>
            <p>Test</p>
        </div>
    </div>
</div>

<div class="row" style='margin-bottom:25px;padding-bottom:25px;'>
    <div class="col-4 widget">
        <div>
            <p>Test</p>
        </div>
    </div>
    <div class="col-8 widget">
        <div>
            <p>Test</p>
        </div>
    </div>
</div>
{% endblock mobiledash %}