<div class='sd-hgt-xtnd'>
    <div class="search-title" style='position:relative' >

        <input class='search-inp' type="text" placeholder='Search...' style='width:100%;display:none;border: 1px solid #181616;background-color: #242424;position: absolute; z-index: 0;border-radius: 10px;height:33px;color:white;padding-left:30px;'>

        <a class='search' style='z-index: 999 !important;position:absolute;top:5px;left:5px;'><img src="{{ url_for('dash_bp.static', filename='images/search.png') }}" alt="Search" style='width: 20px; height:20px;z-index: 777 !important;'></a>
    

        <a class='titles' style="color: #af0404;float:right;">Global Cases</a>
    </div>



    <div class='global-sts' style='margin-top:40px;'>
        {% for x in data %}
            {% for y in data[x] %}
                {% if y['Country'] != ""%}
                <div>
                    <p>Country: {{y['Country']}}</p>
                    <p> New Confirmed: <span>{{y['NewConfirmed']}}</span></p>
                    <p>Total Confirmed: <span>{{y['TotalConfirmed']}}</span></p>
                    <p>New Deaths: <span>{{y['NewDeaths']}}</span></p>
                    <p>Total Deaths: <span>{{y['TotalDeaths']}}</span></p>
                </div>
                {%endif%}
            {% endfor %}
        {% endfor %}
    </div>
    

</div> 