.assist .col-lg{
    background-color: whitesmoke !important;
    min-height:400px !important;
    max-height:400px;
    margin:5px;
    border-radius:10px !important;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 3px 7px 8px rgb(230, 230, 230);
    overflow-y:scroll;
    padding:5px;
    scrollbar-color: #005EAA whitesmoke;
    scrollbar-width: thin;
}

.assist .col-lg:hover{
    box-shadow: 4px 8px 10px darkgray;
}

.col-lg p{
    color:#005EAA;
    background-color: rgb(231, 231, 231);
    display: inline-block;
    padding:3px;
    border-radius: 10px;
    font-size: 14px;
    font-weight:bold;
}

.donate{
    box-shadow: 2px 2px 2px lightgray;
}

.col-lg h5{
    font-weight:bold;
    color:#005EAA !important;
}

.donate:hover{
    box-shadow: 3px 4px 5px lightgray;
    color:rgb(100, 10, 10);
    cursor:pointer;
}

.assist .col-lg::-webkit-scrollbar {
    width: 5px;
}
   
.assist .col-lg::-webkit-scrollbar-track {
    background: whitesmoke;
}
   
.assist .col-lg::-webkit-scrollbar-thumb {
    background: #005EAA;
}

.wrapper{
    white-space: nowrap;
    overflow-x:auto;
    scrollbar-color: #005EAA whitesmoke;
    scrollbar-width: thin;
}

.wrapper::-webkit-scrollbar{
    display:none;
}

.wrapper p{
    margin-bottom:5px;
    cursor:pointer;
}

.wrapper p:hover{
    background-color: gray;
    color: white;
}

#donate{
    margin-bottom:10px;
}