<!-- Main Layout -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Header html -->
    {% include 'dash/resources/head.html' %}
</head>

<body>
    <!-- Nav html -->
    {% include 'dash/partials/nav.html' %}

    <div class='row dash-desktop' style='padding:0px;margin:0px;height:100% !important;'>
        
        <div class="col-lg-2 side-nav">
            <div>
                <!-- Side Global Widget html-->
                {% include 'dash/widgets/globals-wid.html' %}
            </div>
        </div>

        <div class="col-lg-10 dash">
            <!-- Main Dash Content html -->
            {% block content %}{% endblock content %}
        </div>

        
    </div>

    <!-- Scripts html -->
    {% include 'dash/resources/scripts.html' %}
</body>
</html>